(
    version: 3,
    windows: (
        scale: 8.5,
        items_per_row: 5,
        overview: (
            launcher: (
                default_terminal: "ghostty",
                launch_modifier: "ctrl",
                width: 650,
                max_items: 5,
                show_when_empty: true,
                plugins: (
                    applications: (
                        run_cache_weeks: 8,
                        show_execs: true,
                        show_actions_submenu: true,
                    ),
                    terminal: (),
                    shell: (),
                    websearch: (
                        engines: [],
                    ),
                    calc: (),
                    path: (),
                    actions: (
                        actions: [
                            lock_screen,
                            hibernate,
                            logout,
                            reboot,
                            shutdown,
                            suspend,
                            custom(
                                names: [
                                    "Kill",
                                    "Stop",
                                ],
                                details: "Kill or stop a process by name",
                                command: "pkill \"{}\" && notify-send hyprshell \"stopped {}\"",
                                icon: "remove",
                            ),
                            custom(
                                names: [
                                    "Reload Hyprshell",
                                ],
                                details: "Reload Hyprshell",
                                command: "sleep 1; hyprshell socat \'\"Restart\"\'",
                                icon: "system-restart",
                            ),
                        ],
                    ),
                ),
            ),
            key: "Tab",
            modifier: "super",
            filter_by: [],
            hide_filtered: false,
        ),
        switch: None,
    ),
)
